streamlit
sqlite3==3.35.0
streamlit-chat
langchain
langchain_groq
langchain_chroma
langchain-community
langchain_huggingface
chromadb
sentence-transformers
pypdf
unstructured
python-dotenv
tiktoken
